* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* font-family: 'Orbitron', sans-serif; */

body {
    background-image: url(./assets/backopaco.jpg);
    width: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center top;
    color: #ffffff;
    font-size: 100px;
    text-align: center;

}

h2 {
    font-family: clockicons, sans-serif;
    opacity: 1.0;
    -webkit-text-stroke-width: 5px;
    /* largura da borda */
    -webkit-text-stroke-color: #000;

}

section {
    width: 100%;
    position: absolute;
    align-items: center;
    color: #142272;
    -webkit-text-stroke-width: 2px;
    /* largura da borda */
    -webkit-text-stroke-color: #000;
}

button {
    width: 300px;
    font-size: 100px;
    color: #142272;
    background-color: #ffffff;
    -webkit-text-stroke-width: none;
}

h1 {
    margin-top: 60px;
}



@media (min-width: 900px) {
    body {
        background-size: cover;
    }

}
@media (max-width: 900px) {
    h1, h2 {
        font-size: 37px;
        -webkit-text-stroke-width:none;
    }
button {
    width: 100px;
    font-size: 20px;
}
section {
    width: 100%;                                        
    position: absolute;
    color: #142272;
    -webkit-text-stroke-width: 2px;
    /* largura da borda */
    -webkit-text-stroke-color: #000;
}

.botao {
    display: grid;
    width: 100%;
    justify-items: center;
    grid-row-gap: 10px;
    margin-top: 10px;
}

}